<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoStudyContentManagement</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/datatables/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.22/dataRender/datetime.js"></script>
    <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.22/api/processing().js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CoStudy - Hệ thống quản lý tài nguyên </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <button class="btn nav-link text-dark " id="logout">Đăng xuất </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    `

    <div class="container-fluid row">
        <div class="col-2" id="left-nav">
            <a asp-controller="Logging" asp-action="GetAll" class="btn btn-block btn-outline-dark  @ViewBag.GetAll">Backend log</a>

            <a asp-controller="User" asp-action="AllUser" class="btn btn-block btn-outline-dark @ViewBag.AllUser">Quản lý tài khoản</a>
            <a asp-controller="Post" asp-action="GetAllPost" class="btn btn-block btn-outline-dark @ViewBag.GetAllPost">Quản lý bài viết</a>
            <a asp-controller="Comment" asp-action="GetAll" class="btn btn-block btn-outline-dark @ViewBag.GetAllComment " >Quản lý bình luận</a>
            <a asp-controller="ReplyComment" asp-action="GetAll" class="btn btn-block btn-outline-dark  @ViewBag.GetAllReply">Quản lý trả lời</a>
            <a class="btn btn-block btn-outline-dark">Danh mục lĩnh vực</a>
            <a class="btn btn-block btn-outline-dark">Danh mục cấp độ</a>

        </div>
        <main role="main" class="col-10 pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CoStudyContentManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
